.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ===== MODAL LOG ===== */

.log-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.log-modal {
  background: white;
  padding: 25px;
  border-radius: 10px;

  width: 70%;
  max-width: 900px;
  max-height: 80vh;

  overflow-y: auto;

  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.big-datepicker {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-width: 180px;
}
.react-datepicker {
  font-size: 14px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__current-month {
  font-weight: 600;
}

.log-modal pre {
  background: #111;
  color: #00ff88;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 13px;
}

.filtri {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: flex-start;
}

/* OGNI FILTRO È UN BLOCCHETTO VERTICALE */
.filter-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 180px;
}

/* INPUT E SELECT SEMPRE A LARGHEZZA COMPLETA */
.filter-item input,
.filter-item select {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
}

/* REACT-SELECT FIX */
.filter-item .css-1uccc91-singleValue,
.filter-item .react-select__control {
  width: 100% !important;
}

/* MOBILE = FULL STACK */
@media (max-width: 768px) {
  .filtri {
    flex-direction: column;
  }

  .filter-item {
    width: 100%;
    min-width: 100%;
  }
}

.header-btn {
  height: 38px;
  min-width: 160px;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.header-btn:hover {
  background: #eee;
}

.header-btn-danger {
  background: #f44336;
  color: white;
  border: none;
}

.header-btn-primary {
  background: #4CAF50;
  color: white;
  border: none;
}

.docx {
  background: white;
  padding: 20px;
}

.docx-page {
  background: white;
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  padding: 20px;
}
section.docx-preview {
  min-width: 800px !important;
  min-height: 1120px !important;
  background: white !important;
  position: relative !important;
  padding: 40px !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
